---
layout: default
blogfeed: true
---
{% capture readtime %}{{ page.content | number_of_words | plus:91 | divided_by:180.0 | append:'.' | split:'.' | first }}{% endcapture %}

<h1 class="post-title">{{ page.title }}</h1>
<p class="post-meta">
	{{ page.date | date_to_string }} &bull;
	{% if readtime == '0' %} &lt; 1{% else %}{{ readtime }}{% endif %} min. read &bull;
	<a href="#disqus_thread" data-disqus-identifier="{{ page.path | split:'/' | last | cgi_escape }}">Comments</a>
</p>

{% if page.image %}
	<div class="post-banner" style="background-image: url(/img/post-banners/{{ page.image }});">
		<img src="/img/post-banners/{{ page.image }}" alt="{{ page.title }}" />
	</div>
{% else %}
	<div class="post-banner no-image">
		<img src="/img/post-banners/no-image.gif" alt="{{ page.title }}" />
	</div>
{% endif %}

{{ content }}

<!-- <hr /> -->

{% if post.comments != false %}
&nbsp;

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//https-mark-borg-github-io.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}